.skill-action:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: scale(1.1, 1.1);
    transition: all 300ms ease-in-out;
    border-radius: 15px;
}

.skill-cursor:hover {
    cursor:zoom-in;
}


.profile-image {
    border-top-right-radius:  50%;
    border-top-left-radius: 50%;
}

.parragraph-first-letter::first-letter {
    font-size: 42px;
}