@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-lato);
  font: 16px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  font-family: var(--font-league-spartan);
}

h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: var(--font-league-spartan);
}

h3 {
  font-size: 22px;
  font-weight: 700;
  font-family: var(--font-league-spartan);
}

h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--font-league-spartan);
}

.container { 
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

.section {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.links {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
  font-family: var(--font-league-spartan);
}

.images {
  width: auto;
  height: auto;
}

.card-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn {
  @apply bg-neutral-900 rounded-md text-white font-bold text-center p-4;
}

.btn:hover {
  @apply bg-white text-black underline underline-offset-8 decoration-secondary-color ease-in-out duration-100;
}

/* Recaptcha */
.grecaptcha-badge {
	display: none;
}


@keyframes heartbeat {
  0%, 100% {
    stroke-width: 1;
    transform: scale(1);
  }
  50% {
    stroke-width: 1.2;
    transform: scale(1.1);
  }
}

#custom-cusor {
  display: flex;
  align-items: center;
  justify-content: center;
}

#custom-cursor svg circle:first-child {
  animation: heartbeat 2s infinite;
}

.swiper-slide-active {
  margin-bottom: 5px; 
  border-radius: 15px;
}

.swiper-pagination-bullet {
  background: grey;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background: black;
  opacity: 1;
}