@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-lato);
  font: 16px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  font-family: var(--font-league-spartan);
}

h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: var(--font-league-spartan);
}

h3 {
  font-size: 22px;
  font-weight: 700;
  font-family: var(--font-league-spartan);
}

h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--font-league-spartan);
}

.container { 
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}
