@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-lato);
  font: 16px;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 22px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

.container { 
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

.section-background {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(29,26,57,1) 50%, rgba(69,25,82,1) 100%);
}

.section-view {
  height: 600px;
}