.display-desktop-menu {
    display: block;
}

.display-mobile-menu {
    display: none;
}

.display-search-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media( max-width:920px ) {

    .display-desktop-menu {
        display: none;
    }

    .display-mobile-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .display-search-link {
        display: none;
    }
    
}