.separator {
    height: 4px;
    background-color: #7b7db0;
}

.progressBar {
    width: 100%;
    min-width: 120px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
  }
  
.progress {
  height: 100%;
  background: linear-gradient(90deg, #8183b6 0%, #abb1e4 100%);
  transition: width 150ms ease;
  text-align: center;
}
  
.social-share-sidebar {
  position: fixed;
  top: 45%;
  right: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.social-share-message {
  font-family: var(--font-league-spartan);
  font-size: 22px;
  letter-spacing: 3px;
}

.social-line-separation {
  height: 100px;
  width: 5px;
  border-radius: 1px solid black;
  color: black;
}

.social-back-top-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin-top: 40px;
  color: white;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.social-back-top-button:hover {
  color: black;
  background-color: white;
}

.search-modal {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(1, 1, 1, 0.9);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}
 
.search-modal-button:hover{
  background-color: rgba(250, 250, 250, 0.4) !important;
  color: white !important;
} 

@media( max-width: 720px ) {
  .social-share-sidebar {
    width: 50px;
    right: 5px;
  }

  .search-modal {
    padding-top: 20%;
  }
}

@media( max-width: 640px ) {

  .search-modal-button {
    background-color: rgba(250, 250, 250, 0.2) !important;
    transition: all 300ms ease-in-out;
  }  
  
}


