.banner-button {
    margin-top: 100px;
    border: 1px solid white;
    padding: 12px 50px;
    color: white;
    font-weight: bold;
    transition: all 300ms ease-in-out;
}

.banner-button:hover {
    color: #1a1833;
    background-color: white;
}
